{{message}}

<div class="container">
  visit upload list <a routerLink="/upload">view upload list</a>
</div>

<br>
<br>
<div class="container">

<form>
  <div class="form-group">
    <label for="filename">File Name</label>
    <input type="filename" class="form-control" placeholder="Enter file name" id="filename">
  </div>
  <div class="form-group">
    <label for="filetype">File type</label>
    <input type="filetype" class="form-control" placeholder="file type .jpg .mp4 .mp3" id="filetype">
  </div>
  <div class="custom-file">
    <label class="custom-file-label" for="customFile">Choose file</label>
    <input type="file" class="custom-file-input" id="customFile">
  </div>
<br>
  <div class="button">
  <button type="submit" class="btn btn-primary pull-right">Upload</button>
  </div>
</form>

</div>

<script>
  // Add the following code if you want the name of the file appear on select
  $(".custom-file-input").on("change", function() {
    let fileName = $(this).val().split('\\').pop();
    $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
  });
</script>

<div class="container">
  Click here to get a customized welcome
  <button (click)="getWelcomeMsg()" class="btn btn-success">Welocme msg</button>
</div>

<div class="container" *ngIf="responseMsg">
  <h2>{{responseMsg}}</h2>
</div>

<div class="container" *ngIf="errorMsg">
  <h2  class="text-danger">Please try after sometime ...</h2>
</div>
